.hero_section {
  /* max-height: calc(100svh - 68px - var(--br)); */
  /* padding: var(--br) 0 0; */
  padding: 0;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
  height: calc(100svh - 68px - 93px);
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  /* flex: 1; */
  /* display: flex; */
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hero_section h1 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--main-color);
  word-wrap: break-word;
  transition: all 0.2s ease;
}
.hero_wrp {
  position: relative;
  display: flex;
  padding: 2rem 0;
  height: 100%;
}
.hero_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 520px;
}

.img_wrp {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.img_wrp img {
  height: auto;
  width: 100%;
  display: block;
}

.subheading ul {
  padding-left: 1.2rem;
  list-style: url("/bullet.svg");
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
}
.subheading ul li {
  padding-left: 10px;
}
.subheading ul li::marker {
  color: var(--snd-color);
}
@media (width<860px) {
  .img_wrp {
    justify-content: flex-start;
  }
}
@media (width<855px) and (orientation:landscape) {
  .hero_section {
    height: auto;
  }
  .hero_wrp {
    flex-direction: column-reverse;
    flex-wrap: unset;
    justify-content: center;
  }
}
@media (width<845px) and (orientation:portrait) {
  .hero_section {
    height: calc(100svh - 68px);
    height: calc(var(--svh) - 68px);
    transition: all 0.3s ease;
  }
  .hero_wrp {
    flex-direction: column-reverse;
    flex-wrap: unset;
    /* padding: 2rem 0; */
    justify-content: center;
  }
  .hero_inner {
    flex: none;
    gap: 1rem;
  }
  .img_wrp {
    flex: 1 0;
    display: flex;
    align-items: center;
    max-height: 100%;
    overflow: hidden;
    /* max-height: 400px; */
    justify-content: center;
  }
  .img_wrp img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
  }
  .hero_section h1 {
    font-size: 2.5rem;
  }
  .subheading ul {
    font-size: 1rem;
    gap: 0.8rem;
  }
}
