.header {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 1rem 0;
  overflow: hidden;
  width: 100%;
  background-color: var(--background);
  border-bottom: 1px solid var(--foreground);
  /* box-shadow: 0 0 10px 3px var(--foreground); */
  transition: transform 0.3s ease-in-out;
}
.header_visible {
  transform: translateY(0);
}

.header_hidden {
  transform: translateY(-100%);
}

.header_wrp {
  /* padding: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  display: block;
  position: relative;
  z-index: 11;
  text-wrap: nowrap;
}
.nav_wrp {
  gap: 2rem;
  display: flex;
}
.nav {
  display: flex;
  gap: 2rem;
}
.nav a {
  padding: 7px 0;
  display: block;
  line-height: 1;
  overflow: hidden;
  position: relative;
}
.nav a:hover {
  color: var(--main-color);
}
.nav a::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -2px;
  transform: scaleX(0);
  transition: all 0.2s ease;
}
.nav a:hover::before {
  bottom: 4px;
  transform: scaleX(1);
}
.brg {
  display: none;
  position: relative;
  height: 16px;
  cursor: pointer;
  z-index: 10;
  margin: 7px 0;
}
.brg_open {
  transform: rotate(45deg);
  transition: transform 0.4s ease;
}
.line {
  height: 2px;
  width: 100%;
  background-color: var(--foreground);
  position: absolute;
  border-radius: 50vw;
  transition: all 0.4s ease;
}
.brg_open .line:nth-child(1) {
  top: 50%;
  transform: translatey(-50%);
}
.line:nth-child(1) {
  top: 0;
}
.brg_open .line:nth-child(2) {
  opacity: 0;
}
.line:nth-child(2) {
  top: 50%;
  transform: translatey(-50%);
  opacity: 1;
}
.brg_open .line:nth-child(3) {
  bottom: 50%;
  transform: translatey(50%) rotate(90deg);
}
.line:nth-child(3) {
  bottom: 0;
}

@media (max-width: 980px) {
  .header_wrp {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto 30px;
  }
  .brg {
    display: block;
  }
  .nav_wrp {
    grid-column: 1/3;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    max-height: 0;
    overflow-y: hidden;
    z-index: 3;
    transition: all 0.4s ease;
    opacity: 0;
    height: calc(100dvh - 63px);
  }
  .nav_show {
    opacity: 1;
    max-height: 1300px;
  }
  .nav {
    flex-direction: column;
    font-size: 1.1rem;
    align-items: center;
  }
}
