.hero_section {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: 80px;
  color: var(--main-color);
  font-weight: 600;
  line-height: 100%;
}
.hero_title {
  font-size: 1.2rem;
}
