.hero_section {
  /* max-height: calc(100svh - 68px - var(--br)); */
  padding: var(--br) 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.hero_section h1 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--main-color);
  word-wrap: break-word;
  transition: all 0.2s ease;
}
.word {
  white-space: nowrap;
  display: inline-block;
}
.letter {
  position: relative;
  padding-bottom: 2rem;
}
.letter::after {
  content: "";
  background-image: url("/trump.svg");
  background-repeat: no-repeat;
  background-size: 97%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero_wrp {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 4rem 0;
  height: 100%;
}
.hero_inner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 520px;
}

.img_wrp {
  flex: 1 1 300px;
}
.img_wrp img {
  /* max-width: 566px; */
  height: 100%;
  display: block;
}

.hero_section:has(button:hover) .trump {
  transform: translateY(0);
}
.trump {
  width: 18%;
  position: absolute;
  bottom: 0;
  left: 4%;
  transform: translateY(100%);
  transition: all 0.2s ease;
  max-width: 260px;
}
.trump img {
  display: block;
  width: 100%;
  height: 100%;
}
@media (width<700px) {
  .hero_section {
    height: calc(100svh - 68px + var(--br));
  }
  .hero_wrp {
    flex-direction: column-reverse;
    flex-wrap: unset;
    padding: 24% 0;
  }
  .hero_inner {
    flex: none;
    gap: 1rem;
  }
  .img_wrp {
    flex: 1 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 100%;
    overflow: hidden;
  }
  .img_wrp img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
  }
  .hero_section h1 {
    font-size: 2.5rem;
  }
}
