.react-tabs__tab-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 2px 20px;
  max-width: 1240px;
  margin-inline: auto;
}
.react-tabs__tab:focus-visible {
  outline: none;
}
.react-tabs__tab {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: var(--br);
  font-family: var(--font-heads);
  font-size: 1.2rem;
  border: 1px solid var(--main-color);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.react-tabs__tab:hover {
  outline: 1px solid var(--main-color);
}
.react-tabs__tab--selected {
  background-color: var(--main-color);
  color: white;
}
.react-tabs .container > div.react-tabs__tab-panel--selected {
  max-height: 100%;
  opacity: 1;
  animation: courses 0.5s ease;
}
.react-tabs .container > div {
  max-height: 0;
  opacity: 0;
}
@keyframes courses {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.react-tabs .swiper {
  overflow: visible;
  padding-bottom: 70px;
}
.react-tabs .swiper-wrapper {
  align-items: stretch;
}
.react-tabs .swiper-slide {
  width: 27%;
  height: auto;
}
.react-tabs .swiper .swiper-button-prev,
.react-tabs .swiper .swiper-button-next {
  top: unset;
  bottom: 0;
  left: 0;
  color: var(--main-color);
}
.react-tabs .swiper .swiper-button-next {
  left: 50px;
}
@media (width<900px) {
  .react-tabs__tab-list::-webkit-scrollbar {
    display: none;
  }
  .react-tabs__tab-list {
    overflow: scroll;
    padding: 2px 20px;
  }
  .react-tabs__tab {
    white-space: nowrap;
  }
  .react-tabs .swiper-slide {
    width: 37%;
  }
}
@media (width<650px) {
  .react-tabs .swiper-slide {
    width: 67%;
  }
  .react-tabs__tab {
    padding: 0.7rem 1rem;
  }
}
