.section {
  overflow: hidden;
}
.tabs_btns_wrp {
  background-color: white;
  padding: 1rem 0;
  margin-bottom: 2rem;
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: var(--br);
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  height: 100%;
  transition: all 0.2s ease;
}
.card_btn {
  margin-top: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}
.card_btn svg {
  transition: all 0.2s ease;
  transform: scale(0.8);
}
.card:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card:hover h3 {
  color: var(--main-color);
}
.card:hover .card_btn svg {
  transform: scale(1);
}
.card:hover .card_btn svg path {
  fill: white;
}
.card:hover .card_btn svg circle {
  fill: var(--thrd-color);
}
@media (width<700px) {
  .card {
    padding: 1rem;
  }
}
